/.git
/.github
/.idea
/.storybook
/.vscode
/build
/dist
/gen
/node_modules
/scripts
/test

/.eslintrc.js
/.eslintcache
/.gitignore
/.prettierignore
/.prettierrc
/commit.sh
/CONTRIBUTING.md
/docker-compose.yml
/Makefile
/npm-debug.log*
/README.md
/yarn-debug.log*
/yarn-error.log*
